<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.4.2" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net462" developmentDependency="true" />
  <package id="OpenCover" version="4.7.922" targetFramework="net462" />
  <package id="ReportGenerator" version="4.5.4" targetFramework="net462" />
</packages>